<div class="row s1">
  <div class="content">
    <img src="assets/rose.png" class="img-fluid" />
    <p class="subtitle">THE WEDDING OF</p>
    <h1 class="cursive">Norvin & Grace</h1>
    <div class="wrapper">
      <p class="targe-date">Countdown to</p>
      <h4>{{ months[month] + " " + day + ", " + year }}</h4>
      <div class="times">
        <p id="days"></p>
        <p id="hours"></p>
        <p id="mins"></p>
        <p id="seconds"></p>
      </div>
      <div class="description">
        <p>Days</p>
        <p>Hours</p>
        <p>Minutes</p>
        <p>Seconds</p>
      </div>
    </div>
  </div>
</div>

<div class="s2">
  <img src="assets/our-story.jpg" class="couple-img img-fluid" alt="" />
  <span class="our cursive">Our</span>
  <span class="story cursive">Story</span>

  <!-- <h2 class="our-story cursive">Our Story</h2> -->
</div>

<div class="s2-2nd">
  <div class="content-container">
    <div class="content">
      <p>
        The couple met year 2017 in a university in CDO where they both
        graduated. Their first encounter was during the campus ministry, sharing
        the gospel to random students and do ministry together in a youth
        ministry. Norvin and Grace have the same mission and love for Jesus.
        They both have the gift of music and even in their differences they both
        have the same sense of humor. Norvin planned marrying Grace from the
        very start of the story. And now it became realized to really make it
        happen for his love, commitment and for the glory of God.
      </p>
    </div>

    <div class="verse-1 text-center">
      <p><em>"He has made everything beautiful in its time."</em></p>
      <p>Ecclesiastes 3:11</p>
    </div>
  </div>


</div>


<div class="gallery">
  <lightgallery [settings]="settings" [onInit]="onInit">
    <a *ngFor="let item of items" [attr.data-lg-size]="item.size" className="gallery-item" [attr.href]="item.src">
      <img className="img-responsive" src="{{ item.thumb }}" loading="lazy" />
    </a>
  </lightgallery>
</div>


<div class="s3">
  <div class="container">
    <div class="row">
      <div class="w-800 mx-auto mt-4 bg-white sched">
        <div class="wedding-container">
          <h1 class="cursive">Wedding Day</h1>
          <p class="date">November 11, 2023</p>
          <p class="time">Saturday, 9:00 AM</p>
          <p class="location">
            Elarvee Event Venue <br />
            Upper Macasandig, Cagayan de Oro City
          </p>
        </div>
        <div class="second-part">
          <p class="hybrid">We're Going Hybrid!</p>
          <p>
            Due to some limitations, we have decided to also host a virtual
            celebration of our wedding via Zoom.
          </p>

          <div>
            <p>
              To ensure a seamless virtual experience on Zoom, kindly use our custom-designed Zoom background. Download and set it as your virtual backdrop:
            </p>
            <img class="img-fluid" src="assets/zoom-bg.png" alt="Zoom backdrop">
            <a class="btn btn-primary mt-3" href="assets/zoom-bg.png" download="zoom-background.png" title="Zoom backdrop">Download Zoom background</a>

            <div class="py-4"></div>

            <p>
              If possible, please follow our dress code color palette:
            </p>
            <div class="color-palette">
              <div class="palette pl1"></div>
              <div class="palette pl2"></div>
              <div class="palette pl3"></div>
              <div class="palette pl4"></div>
            </div>
          </div>

          <div class="py-4"></div>

          <div class="zoom-container mt-5">
            <p class="fs-5 mb-5" style="color: #555;font-weight: 600;">To <em>join</em> the virtual celebration via zoom, please click the link below:</p>


            <div class="d-inline-grid gap-4">
              <a href="https://zoom.us/j/94452043263?pwd=eWhVSXlRQjZZMEkySGV1SUtCRGxMQT09" target="_blank">
                <img src="assets/zoom-logo.png" alt="zoom-logo" />
              </a>
              <a class="btn btn-primary" href="https://zoom.us/j/94452043263?pwd=eWhVSXlRQjZZMEkySGV1SUtCRGxMQT09" target="_blank">
                Click here to join us!
              </a>

              <div class="verse-2 text-center mt-4">
                <p><em>"The Lord God said, 'It is not good for the man to be alone. I will make a helper suitable for him.'"</em></p>
                <p>Genesis 2:18</p>
              </div>
            </div>
          </div>



          <div class="closing">
            <p>
              We hope you will join us this special and memorable occasion.
            </p>
            <p>With love,</p>
            <p class="cursive">Norvin & Grace</p>

            <img src="assets/floral-design.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="s4">
  <div class="container">
    <div class="row">
      <div class="w-800 mx-auto bg-white gifts">
        <h1 class="cursive">Gifts</h1>

        <p class="note">
          Your presence is a gift to us. If you would like to give an additional gift, a cash gift would be a great blessing for our future.
        </p>

        <div class="accounts">
          <div class="account">
            <div class="logo">
              <img src="assets/gcash-logo.png" class="img-fluid" alt="gcash" />
            </div>
            <div class="details">
              <p>09177792418</p>
              <p>Christine Grace Broces</p>
            </div>
          </div>
          <div class="account">
            <div class="logo">
              <img
                src="assets/bpi-wedding-norvin-grace.jpg"
                class="img-fluid"
                alt="rcbc"
                style="width: 100%"
              />
            </div>
            <div class="details">
              <p>BPI BANK QR CODE</p>
              <!-- <p>Christine Grace Broces</p> -->
            </div>
          </div>
          <!-- <div class="account">
            <div class="logo">
              <img src="assets/ub-logo.png" class="img-fluid" alt="unionbank" />
            </div>
            <div class="details">
              <p>109423578195</p>
              <p>Christine Grace Broces</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
